<!DOCTYPE html>
html(lang="es")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width-device-width, initial-scale-1.0")
        title dashboard  
    body 
        h1 Bienvenido #{usuario} 
        h2 Mediciones:
            if listMediciones.length 
                each medicion, index in listMediciones
                    div
                        span.medicion-info
                            p= "Medicion: "+medicion.idMedicion + " Nodo: "+medicion.idNodo + " Hora: "+medicion.hora+" temperatura: "+medicion.temp+" humedad: "+medicion.humedad+" nitrogeno: "+medicion.n+" potasio: "+medicion.p+" fosoforo: "+medicion.k  
                        
            else
                p No hay mediciones disponibles

        h2 Suministros:
            if listSuministros.length 
                each suministro, index in listSuministros
                    div
                        span.suministro-info
                            p= "Suministro: " +suministro.idSuministro + " Nodo: "+ suministro.idNodo + " Hora: "+suministro.hora+" Tipo: "+suministro.tipo 
                        
            else
                p No hay suministros disponibles
