<!DOCTYPE html>
html(lang="es")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width-device-width, initial-scale-1.0")
        title Prueba 
    body
        form(id="formUsuario",action="user/log-in", method="post") 
            h1= title 
            div1 Correo: 
                input(type='email', name='email') 
            div2 Contraseña: 
                input(type="password", name="contrasenia")
                input(type="submit", name="btnEnviar", value="Enviar")
            